{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Mobile first */
  body {
    background-color: hsl(217, 54%, 11%);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: hsl(217, 54%, 11%);
  }


  .minicontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: hsl(216, 50%, 16%);
    height: 740px;
    width: 425px;

  }

  .center-image {
    background: url("../images2/image-equilibrium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 33%;
    height: 350px;
    width: 375px;
    background-color: hsl(216, 50%, 16%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: auto;
    margin-right: auto;

  }

  .content {
    width: 375px;
    height: 150px;
    background-color: hsl(216, 50%, 16%)
  }

  .title {
    color: hsl(0, 0%, 100%);
    font-family: "Fraunces", sans-serif;
    margin-top: 15px;
    font-weight: 600;

  }

  .sub-title {
    font-family: "Montserrat", sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
  }


  .valor, .days {
    display: inline-block;
    width: 200px;
  }

  .ethereum {
    text-align: center;
  }

  .valor h2 {
    color: hsl(178, 100%, 50%);
    font-size: 18px;
    font-weight: 400;
  }

  .valor > h2::before {
    content: "  ";
  }

  .days h2 {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 400;
  }

  .create,
  .Jules {
    display: inline-block;
    width: 200px;
  }


  .create h2 {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
    margin-left: 105px
  ;
  }

  .Jules h2 {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 300;
  }


  .only-lg {
    display: none;
  }


  .minicontainer:hover {
    cursor: pointer;
  }

  /* MD */
  @media (min-width: 1440px) {
    body {
      background-color: hsl(30, 38%, 92%);
    }

    .container {
      flex-direction: column;
    }

    .center-image {
      background-size: cover;
      background-position: 50% 0%;
      height: 400px;
      width: 200px;
      background-color: #fff;
      border-radius: 0px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .content {
      height: 400px;
      width: 300px;
      background-color: #fff;
      border-radius: 0px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 20px;
    }
  }